body {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  height: 100%;
}

.body-movie {
  background-color: $color-black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.movie {
  color: $color-white;
  &-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  &-title {
    font-weight: bold;
    font-size: 36px;
  }
  &-info {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &-img {
    &__btn {
      cursor: pointer;
    }
  }
  &-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background: #13171a;
    padding: 20px 20px;
    z-index: 2;
    height: 215px;
    &-menu {
      display: flex;
      box-shadow: inset 0 -2px 0 grey;
      .option {
        text-transform: uppercase;
        font-size: 20px;
        color: $color-white;
        padding-bottom: 10px;
        margin-right: 85px;
        cursor: pointer;
        font-weight: bold;
        transition: 0.4s;
        &-active {
          box-shadow: inset 0 -2px 0 green;
        }
      }
    }
    &-info {
      display: flex;
      margin-top: 20px;
      display: none;
      &-active {
        display: flex;
      }
      .grp-btn {
        display: flex;
      }
      .btn {
        cursor: pointer;
        margin-right: 40px;
        width: 50px;
        img {
          margin-bottom: 0.5rem;
          transition: 0.4s;
        }
        &:hover {
          img {
            border-radius: 100%;
            filter: brightness(90%);
            background: green;
            transform: scale(1.2);
          }
        }
      }
      &-sinopse {
        text-align: left;
        p {
          font-size: 14px;
          line-height: 18px;
        }
        &__title {
          font-size: 16px;
          text-transform: uppercase;
        }
      }
    }
  }
}

.side-bar {
  display: flex;
  flex-direction: column;
  width: 400px;
  float: right;
  padding: 0 20px;
  margin-bottom: 30vh;
  &-temp {
    display: flex;
    box-shadow: inset 0 -2px 0 grey;
    .temp {
      text-transform: uppercase;
      font-size: 20px;
      padding-bottom: 10px;
      margin-right: 20px;
      cursor: pointer;
      &-active {
        box-shadow: inset 0 -2px 0 green;
      }
    }
  }
  &-list {
    list-style-type: none;
    .episode {
      flex-direction: column;
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid gray;
      display: none;
      &-active {
        display: flex;
      }
      .header-toggle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        color: $color-white;
        margin-top: 10px;
        cursor: pointer;
      }
      .content-toggle {
        margin-top: 10px;
        display: none;
        &-img {
          width: 100%;
        }
      }
      &:nth-child(4n) {
        margin-bottom: 0px;
        padding-bottom: 0px;
        border-bottom: none;
      }
      .info {
        display: flex;
      }
      &-num {
        margin-right: 10px;
      }
      &-img {
        width: 25px;
        cursor: pointer;
      }
    }
  }
}

.scroll-btn {
  display: none;
}

.abas {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  font-family: "Poppins", Sans-serif;
  overflow: auto;
}

.aba {
  padding: 18px 0px;
  position: relative;
  text-align: left;
  cursor: pointer;
  color: #3f4752;
  font-weight: 200;
  transition: background 350ms ease, color 350ms ease;
  margin-right: 60px;
  text-transform: uppercase;
  font-weight: 600;
}
.aba:last-child {
  border-right: 0;
}
.aba.ativa,
.aba.selected {
  box-shadow: inset 0 -2px 0 green;
}
.aba.selected span {
  color: #ffffff;
}

.TabControl {
  width: 100%;
  position: relative;
  z-index: 10;
}

.TabControl #header {
  width: 100%;
  display: flex;
  position: relative;
  box-shadow: inset 0 -2px 0 grey;
  display: flex;
  justify-content: space-between;
}

.TabControl #content {
  width: 100%;
  height: 100%;
  .select {
    opacity: 1;
  }
}

.TabControl .conteudo {
  width: 100%;
  background: #27408b;
  display: none;
  height: 100%;
  color: #fff;
}

.tab-content {
  max-width: 100%;
  line-height: 100%;
  margin: 30px 0;
  display: none;
}

.tab-content:first-child {
  display: block;
}

.cast-card {
  padding: 20px 0px;
  color: #fff;
  text-align: center;
  line-height: 20px;
  background: #3f4752;
  margin: 0 5px;
  transition: 0.4s;
  border-radius: 4px;
  &:hover {
    filter: brightness(80%);
  }
  &__character {
    font-size: 20px;
    font-weight: 600;
  }
  &__actor {
    font-size: 14px;
    font-weight: 400;
  }
}
.multiple-items {
  margin: 0 20px;
}

#lazer {
  opacity: 0;
}
.slick-next:before {
  content: "\f054";
}
.slick-prev:before {
  content: "\f053";
}
.slick-prev:before,
.slick-next:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

@media (max-width: 500px) {
  .aba {
    margin-right: 15px;
    text-align: center;
  }
  .movie-footer {
    bottom: -290px;
    height: 350px;
    transition: 0.7s;
  }
  .select {
    bottom: 0px;
  }
  .movie-footer-info .grp-btn,
  .movie-footer-info-active {
    flex-wrap: wrap;
  }
  .aba,
  .movie-footer-info-sinopse {
    margin-top: 2rem;
  }
  .movie-footer-info .btn {
    margin-right: 30px;
    width: 50px;
  }
  .movie-footer-info-sinopse p {
    margin-bottom: 1rem;
  }
  .side-bar {
    width: 100%;
    }
  .movie-img__btn {
    width: 5%;
  }
  .movie-header {
    align-items: flex-start;
  }
  .movie-info {
    font-size: 12px;
    margin-bottom: 2rem;
  }
  .scroll-btn {
    font-size: 20px;
    display: block;
    cursor: pointer;
  }
}

@media (max-width: 330px){
  #header{
    img{
      width: 10%;
    }
  }
  .movie-footer{
    padding: 20px 10px;
  }
  .movie-footer-info .btn{
    margin-right: 25px;
  }
}
